.contacts {
    background-color: #2c2c2c;
    position: relative;

    &__container {
        padding-top: 34px;
        padding-bottom: 58px;
        padding-left: 30px;
        padding-right: 30px;

        display: flex;
        justify-content: space-between;
    }

    &__info {
        flex-basis: 50%;
    }

    &__title {
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        text-transform: uppercase;
        color: #FFFFFF;

        margin-bottom: 24px;
    }

    &__text,
    &__phone,
    &__mail {
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }

    &__text {
        margin-bottom: 25px;

        &--opacity {
            opacity: 0.4;
        }
    }

    &__btn {
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 28px;

        padding-top: 10px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 20px;

        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #4B9233;
        transition: all 0.2s ease;

        &:hover {
            background-color: transparent;
            color: #FFFFFF;
            border: 1px solid #4B9233;
            transition: all 0.2s ease;
        }
    }

    &__phone {
        margin-top: 59px;
        margin-bottom: 48px;

        &--link {
            color: #FFFFFF;
        }
    }

    &__mail {
        margin-left: 38px;
        position: relative;
        max-width: max-content;

        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.2s ease;

        &::before {
            content: url(../img/icon-mail.svg);
            position: absolute;
            top: 2px;
            left: -42px;
        }

        &:hover {
            border-bottom: 1px solid #4B9233;
            transition: all 0.2s ease;
        }
    }

    &__map {
        flex-basis: 50%;
        width: 100%;
        height: 477px;
        background-color: #efefef;
        margin-top: 54px;
        position: relative;
        overflow: hidden;

        & iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .contacts {
        &__container {
            display: block;
        }
        
        &__map {
            margin-top: 50px;
            height: 400px;
        }
    }
}

@media (max-width: 480px) {
    .contacts {
        &__container {
            padding-top: 70px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__info {
            text-align: center;
        }

        &__title {
            font-size: 28px;
            line-height: 140%;
        }

        &__text,
        &__phone,
        &__mail {
            font-size: 18px;
            line-height: 150%;
        }

        &__text {
            margin-bottom: 30px;
        }

        &__btn {
            font-size: 24px;
            line-height: 140%;
        }

        &__phone {
            margin-top: 40px;
            margin-bottom: 32px;
        }

        &__mail {
            margin-left: 32px;

            &::before {
                top: -4px;
                left: -38px;
                transform: scale(0.8);
            }
        }

        &__map {
            margin-top: 32px;
            height: 250px;
        }
    }
}