@font-face {
    font-family: 'Noto Sans';
    src: url("../fonts/Notosansdisplayregular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("../fonts/Notosansdisplaymedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("../fonts/Notosansdisplayextrabold.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswaldregular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}